@import '../../../styles/variables';

.TeamPriorityCard{
    background-color: $translucentCream;
    border-radius: 5px;
    border: 2px solid cornsilk;

    .userDetails{
      margin: auto 0;

      .teamMemberImage{
        border-radius: 5px;
        border: 1px solid $translucentCream;
        max-height: 200px;
        max-width: 200px;
      }
    }
}